@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9f2020;
  --color-secondary: #ffcece;
  --color-accent: #ff3b3b;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #e20707;
  --color-secondary: #862b2b;
  --color-accent: #862b2b;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Lora", serif;
}
